.img-crop {
	overflow: hidden;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	position: relative;
}

.img-crop:after {
	content: '';
	display: block;
	clear: both;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: rgba(0,0,0,.5);
	position: absolute;
}

.img-crop:hover:after {
	z-index: 1;
}

.carousel-container {
	width: 600px;
	white-space: nowrap;
	overflow: hidden;
}